<div>
    <label for="">CEP</label>
    <input type="text" [(ngModel)]="address.zipcode">
  </div>

<div>
  <label for="">Endereço</label>
  <input type="text" [(ngModel)]="address.address">
</div>

<div>
  <label for="">Complemento</label>
  <input type="text" [(ngModel)]="address.address_complement">
</div>

<div>
    <label for="">Número</label>
    <input type="text" [(ngModel)]="address.number">
</div>

<div>
    <label for="">Bairro</label>
    <input type="text" [(ngModel)]="address.neighboorhood">
  </div>

  <div>
      <label for="">Cidade</label>
      <input type="text" [(ngModel)]="address.city">
    </div>